<header class="hdr /*hdr-invisible*/">
        <!--Logo-->
        <div class="hdr__logo">
            <a href="/user" alt="Logo_WebPlus">
                <strong>Youlivent</strong>
            </a>
        </div>
        <!--Nav-bar-->
        <div class="hdr__nav">
            <!--Menu-->
            <ul class="hdr__nav__menu">
                <li class="hdr__nav__menu__item">
                      <div class="tooltip">
                          <span class="tooltiptext">Crea nuovo evento</span>     <!--tooltip da aggiustare-->
                      </div>
                      
                    <a href="/user/createEvent" onclick="activeMenu()">
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="hdr__nav__menu__item">
                    <div class="tooltip">
                          <span class="tooltiptext">Logout</span>
                      </div>
                      <div>
                    <button type="button" id="btn-logout" onclick="confirmLogout()">
                        <i class="fas fa-door-closed" style="color:#777"></i>
                    </button>
                    </div>
                </li>
            </ul>
            <!--Burger Menu(Mobile)-->
            <div class="hdr__nav__toggle" onclick="activeMenu()"></div>
            <span class="line"></span>
        </div>
         
    </header>


    <div id="confirm-logout" class="confirm-logout">
    <form action="/user/logout" method="get" class="confirm-logout-form">

        <i class="fas fa-sign-out-alt" style="color: #f32e0bd2"></i>

        <p>Procedere con il logout?</p>

        <button type="button" style="background:rgb(10, 181, 17)" onclick="confirmLogout()">
            Annulla
        </button>

        <button type="submit" style="background:#f32e0bd2">
            Logout
        </button>
    </form>
</div>