<!DOCTYPE html>
<html lang="it">
<head>
    
    {{> index/header}}

</head>
<body>
    
    <!-- TOP-NAVIGATION -->
    {{> index/top-navigation}}

    <!-- CATEGORIES -->
    {{{ body }}}
    

    <!-- FOOTER --> 
    {{> index/footer}}

    <!-- JS -->
    {{> index/scripts}}
    
</body>
    
</html>