<!DOCTYPE html>
<html lang="it">
<head>
    
    {{> user/header}}

</head>
<body>
    
    <!-- TOP-NAVIGATION -->
    {{> user/top-navigation}}

    <!-- MESSAGES -->
    {{> user/messages}}


    <!-- CATEGORIES -->
    {{{ body }}}
    

    <!-- FOOTER --> 
    {{> user/footer}}

    <!-- JS -->
    {{> user/scripts}}
    
</body>
    
</html>