<form action="/user/createEvent" method="post" enctype="multipart/form-data">

    <h2 style="text-align: center; color: var(--color-text); letter-spacing: 1px;">Crea evento</h2>


    
    <section class="form-create">

        {{!-- Title box --}}
        <div class="create-box"> 
            <input type="text" name="title" class="create-txt" placeholder="Title event.." maxlength="35">
        </div>

        
        {{!-- Upload image --}}
        <div class="container__image">
            
            <div class="custom-file-container" data-upload-id="myupload">
                <label><a href="javascript:void(0)" class="custom-file-container__image-clear" style="display: none;">&times;</a></label>

                <div class="create-box">
                    <input type="file" id="file" name="image" accept="*" aria-label="Multiple Select Files" class="create-txt input-file"required>
                    <label for="file" class="create-txt create-txt-image"><i class="fas fa-upload"></i><h6>Upload Image</h6></label>
                </div>

                <label class="">
                    <input type="hidden" name="MAX_FILE_SIZE" value="104857605">
                    <span class="custom-file-container__custom-file__custom-file-control "></span>
                </label>

                <div class="custom-file-container__image-preview" style="overflow: hidden;"></div>
            </div>
        </div>

        <!-- JS file-upload-with-preview -->
        <script src="/js/file-upload-with-preview.min.js"></script>
        <script>
            var upload = new FileUploadWithPreview('myupload');
        </script>


        {{!-- Description box --}}
        <div class="create-box__description">
            <textarea type="text" rows="8" name="description" class="create-txt " placeholder="Description.."></textarea>
        </div>

         {{!-- Location box --}}
        <div class="create-box create-box-side"> 
            <input type="text" name="citta" class="create-txt" placeholder="Città">
            <input type="text" name="provincia" class="create-txt" placeholder="Provincia">
        </div>
         <div class="create-box create-box-side create-box-address"> 
            <input type="text" name="indirizzo" class="create-txt" placeholder="Indirizzo">
        </div>
         <div class="create-box create-box-side create-box-date"> 
            <select type="text" name="giorno" class="create-txt" placeholder="giorno">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <select type="text" name="mese" class="create-txt" placeholder="mese">
                <option value="01">Gennaio</option>
                <option value="02">Febbraio</option>
                <option value="03">Marzo</option>
                <option value="04">Aprile</option>
                <option value="05">Maggio</option>
                <option value="06">Giugno</option>
                <option value="07">Luglio</option>
                <option value="08">Agosto</option>
                <option value="09">Settembre</option>
                <option value="10">Ottobre</option>
                <option value="11">Novembre</option>
                <option value="12">Dicembre</option>
            </select>
            <select type="text" name="anno" class="create-txt" placeholder="anno">
                <option value="2020">2020</option>
                <option value="2021">2021</option> 
                <option value="2022">2022</option>     
            </select>
            <select type="text" name="ora" class="create-txt" placeholder="ora">
                <option value="00:00">00:00</option>
                <option value="00:30">00:30</option> 
                <option value="01:00">01:00</option>
                <option value="01:30">01:30</option>
                <option value="02:00">02:00</option> 
                <option value="02:30">02:30</option>
                <option value="03:00">03:00</option>
                <option value="03:30">03:30</option> 
                <option value="04:00">04:00</option>
                <option value="04:30">04:30</option>
                <option value="05:00">05:00</option> 
                <option value="05:30">05:30</option>
                <option value="06:00">06:00</option> 
                <option value="06:30">06:30</option> 
                <option value="07:00">07:00</option> 
                <option value="07:30">07:30</option> 
                <option value="08:00">08:00</option> 
                <option value="08:30">08:30</option> 
                <option value="09:00">09:00</option> 
                <option value="09:30">09:30</option>      
                <option value="10:00">10:00</option> 
                <option value="10:30">10:30</option> 
                <option value="11:00">11:00</option> 
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option> 
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option> 
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option> 
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option> 
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option> 
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option> 
                <option value="17:30">17:30</option> 
                <option value="18:00">18:00</option> 
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option> 
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option> 
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option> 
                <option value="21:30">21:30</option>
                <option value="22:00">22:00</option> 
                <option value="22:30">22:30</option>
                <option value="23:00">23:00</option> 
                <option value="23:30">23:30</option>

            </select>
        </div>


    </section>



    <h3 style="text-align: center; color: var(--color-text);">Aggiungi i servizi che il tuo evento garantisce</h3>


    <!-- CATEGORIES -->
    <div class="container">

        <label>
            <input type="checkbox" name="categories" value="beer">
            <div class="card">
                <i class="fas fa-beer"></i>
                <p>Beer</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="music">
            <div class="card">
                <i class="fas fa-music"></i>
                <p>Music</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="wifi">
            <div class="card">
                <i class="fas fa-wifi"></i>
                <p>Con wi-fi</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="dog">
            <div class="card">
                <i class="fas fa-dog"></i>
                <p>Dog friendly</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="cocktail">
            <div class="card">
                <i class="fas fa-cocktail"></i>
                <p>Cocktail</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="creditcard">
            <div class="card">
                <i class="fas fa-money-check"></i>
                <p>Credit card</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="accessible">
            <div class="card">
                <i class="fab fa-accessible-icon"></i>
                <p>Accessible</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="children">
            <div class="card">
                <i class="fas fa-child"></i>
                <p>For children</p></span>
            </div>
        </label>

    </div>


    <!-- SEND BUTTON -->
    <div class="cnt__btn">
        <button type="submit">
            <i class="fas fa-check"></i>
        </button>
    </div>
</form>


<!-- BUTTON DASHBOARD -->
<div class="hdr__nav__user">
            <!--Menu-->
            <ul class="hdr__nav__user__menu">
                <li class="hdr__nav__user__menu__item">
                      <div class="tooltip">
                          <span class="tooltiptext">Dashboard</span>     <!--tooltip da aggiustare-->
                      </div>
                      
                    <form action="/user/userEvents">
                        <button type="submit" >
                            <i class="fas fa-tachometer-alt" style="color: #555"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>