<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Google -->
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <!-- Font Icon -->
    <script src="https://kit.fontawesome.com/4a5c96a770.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleCreateEvent.css">
    <link rel="stylesheet" href="/css/styleShowEvent.css">
    <link rel="stylesheet" href="/css/styleSchedaEvent.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link rel="stylesheet" href="/css/styleMessages.css">

    
    <!-- CSS file-upload-with-preview -->
    <link rel="stylesheet" href="/css/file-upload-with-preview.min.css">


    <!-- Title -->
    <title>Eventi in loco</title>