<header class="hdr /*hdr-invisible*/">
        <!--Logo-->
        <div class="hdr__logo">
            <a href="#home" alt="Logo_WebPlus">
                EVENTOVIVO
            </a>
        </div>
        <!--Nav-bar-->
        <div class="hdr__nav">
            <!--Menu-->
            <ul class="hdr__nav__menu">
                <li class="hdr__nav__menu__item">
                    <a href="#" onclick="activeMenu()">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
            </ul>
            <!--Burger Menu(Mobile)-->
            <div class="hdr__nav__toggle" onclick="activeMenu()"></div>
        </div>
    </header>