
.container-event{
    flex-direction: column;
    line-height: 75px;
}
.container-event .fas{
    font-size: 18px;
}

.container__title-views{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 14px 10px 9px 10px;
}
.container__views{
    display: flex;
}

.title-event{
    font-size: 34px;
}

.box-image{
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    border-radius: 12px;
    box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.2), -10px -10px 22px rgba(255, 255, 255, 0.75);
    user-select: none;
}
.box-image img{
    max-width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 12px;
}

.dati-event{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 44px;
}

.dati-event .description{
    margin-top: 30px;
}
#map{
    width: 500px;
    height: 500px;
}