.container a{
    text-decoration: none;
}

.container__card{
    min-width: 200px;
    height: 35vh;
    line-height: 27px;
    border-radius: 12px;
    box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.2), -10px -10px 22px rgba(255, 255, 255, 0.75);
    user-select: none;
    overflow: auto;
    cursor: pointer;
    color: var(--color-text);
    margin: 15px 10px;
}
.container__card h2{
    padding: 10px 0 8px 4px;
}
.container__card h5{
    padding: 10px 0 8px 4px;
}
.container__card p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 22px;
    padding-left: 12px;
}
.container__card img{
    position: relative;
    background-size: cover;
    width: 100%;
}

.container__card .fas{
    font-size: 14px;
}

@media screen and (max-width: 540px){
    .container__card{
        width: 80vw;
    }


}