<!-- PRESENTATION BANNER MSG --> 
    <section class="banner__msg">
        <h2>Cosa si fa stasera?</h2> 
        <h3>Scegli come deve essere il tuo evento o prova con una ricerca generica*</h3>

        <!-- Search Box -->
        <div class="search-box">
            <input type="text" name="" class="search-txt" placeholder="Type to search">
        </div>  
    </section>


<form action="/" method="post" enctype="multipart/form-data">
    <!-- CATEGORIES --> 
    <div class="container">
       
       
        <label>
            <input type="checkbox" name="categories" value="beer">
            <div class="card"> 
                <i class="fas fa-beer"></i>
                <p>Beer</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="music">
            <div class="card"> 
                <i class="fas fa-music"></i>
                <p>Music</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="wifi">
            <div class="card"> 
                <i class="fas fa-wifi"></i>
                <p>Con wi-fi</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="dog">
            <div class="card"> 
                <i class="fas fa-dog"></i>
                <p>Dog friendly</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="cocktail">
            <div class="card"> 
                <i class="fas fa-cocktail"></i>
                <p>Cocktail</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="creditcard">
            <div class="card"> 
                <i class="fas fa-money-check"></i>
                <p>Credit card</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="accessible">
            <div class="card"> 
                <i class="fab fa-accessible-icon"></i>
                <p>Accessible</p></span>
            </div>
        </label>

        <label>
            <input type="checkbox" name="categories" value="children">
            <div class="card"> 
                <i class="fas fa-child"></i>
                <p>For children</p></span>
            </div>
        </label>
        
    </div>

<input type="text" name="test" id="test">


    <!-- SEND BUTTON --> 
    <div class="cnt__btn">
        <button type="submit">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</form>

    <!-- Note di fine pagina --> 
    <div class="nota">
        <p style="font-size: 12px; margin: 0 50px;">*per ricerca generica si intende ricercare gli eventi tramite parole chiave inserite dall'utente. È consigliata la ricerca per categorie</p>
    </div>